@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 11px !important;
}

.container-fluid {
  padding: 1rem;
}

.row {
  padding-top: 2rem;
}

.x span {
  /*width: 15px;*/
}

.x input {
  /*border: none;*/
  outline: none;
  padding: 5px;
  /*background: transparent;*/
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: .25rem;
  margin-right: .25rem;
}

.staty {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;

}
input.title {
  width: 25%;
}

input.artist {
  width: 10%;
}

input.album {
  width: 17%;
}

input.genre {
  width: 8%;
}

.toggle-container {
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
}
.toggle-button {
    width: 25px;
    text-align: center;
    display: inline-block;
    padding: .5rem;
}
.fff {
    background: #4aa1ff;
    color: #fff;
}

.bad-check {
    border: 1px solid red !important;
}