@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 11px !important;
}

.container-fluid {
  padding: 1rem;
}

.row {
  padding-top: 2rem;
}

.x span {
  width: 15px;
}

.x input {
  /*border: none;*/
  outline: none;
  padding: 5px;
  /*background: transparent;*/
  border: 1px solid #ddd !important;
  border-radius: 10px;
  margin-left: .25rem;
  margin-right: .25rem;
}

.staty {
  display: inline-block;
  width: 30%;
  overflow: hidden;
}
input.title {
  width: 20%;
}

input.artist {
  width: 10%;
}

input.album {
  width: 17%;
}

input.genre {
  width: 8%;
}