<div class="container">
    <div class="py-3 text-center"></div>

    <div class="row mb-4">
        <label>Enter playlist url:</label>
        <input type="text" class="form-control mb-2" data-ng-model="playlistUrl">
        <input class="btn btn-primary"
               value="Submit"
               type="submit"
               data-ng-click="getPlaylistInfo(playlistUrl)"
               data-ng-disabled="!playlistUrl">
    </div>

    <div class="row mb-4" data-ng-repeat="track in tracks">
        <h6 class="w-100 mb-0"><a href="{{track.link}}" target="_blank">{{track.label}}</a></h6>
        <h6 class="w-100 mb-1"><small>{{track.link}}</small></h6>
        <input type="text" class="form-control col" placeholder="Artist" data-ng-model="track.artist">
        <input type="text" class="form-control col" placeholder="Song Name" data-ng-model="track.title">
        <input type="text" class="form-control col" placeholder="Album" data-ng-model="track.album">
    </div>

    <div class="row mb-4" ng-show="tracks.length">
        <input class="btn btn-primary" type="submit" value="Show ID3 Data" data-ng-click="showId3Data();">
    </div>

    <div class="row mb-4" ng-show="tracks.length">
        <input class="btn btn-primary" type="submit" value="Download Playlist" data-ng-click="download();">
    </div>

    <div class="row" ng-show="tracks.length">
        <input class="btn btn-primary" type="submit" value="Write ID3 Data" data-ng-click="writeData();">
    </div>

</div>