<div style="text-align: center;">
<div class="toggle-container">
    <div class="toggle-button" data-ng-class="{'fff': switchy === false}" data-ng-click="switchy = false">
        Enter
    </div>
    <div class="toggle-button" data-ng-class="{'fff': switchy === true}" data-ng-click="switchy = true">
        Fill
    </div>
</div>
</div>

<div data-ng-if="switchy === false">
    <textarea placeholder="Enter URL's here" style="width: 80%; height: 60vh; margin-top: 3rem !important; margin: 0 auto; display: block;" data-ng-model="$parent.urlInput"></textarea>
    <div style="text-align: center;">
        <button style="margin-top: 1rem;" data-ng-click="initEditForm();">Go</button>
    </div>
</div>

<div class="container-fluid" data-ng-if="switchy === true">
    <div class="row" data-ng-repeat="i in tracks">
        <div class="x">
            <div style="margin-bottom: 3px; margin-left: 2px;">
                <span style="margin-right: 4px;">{{$index + 1}}</span>
                <span style="margin-right: 4px;">{{i.snippet.title}}</span>
                <a href="{{i.link}}" target="_blank" style="color: inherit; padding: 0;">Link</a>
            </div>

            <input placeholder="Title" data-ng-model="i.title" class="title" style="margin-left: 0 !important;" data-ng-class="{'bad-check': i.checked && !i.title}">
            <input placeholder="Artist" data-ng-model="i.artist" class="artist" data-ng-class="{'bad-check': i.checked && !i.artist}">
            <input placeholder="Album" data-ng-model="i.album" class="album" data-ng-class="{'bad-check': i.checked && !i.album}">
            <!-- <input placeholder="Genre" data-ng-model="i.genre" class="genre" data-ng-class="{'bad-check': i.checked && !i.genre}"> -->
            <select data-ng-model="i.genre" data-ng-class="{'bad-check': i.checked && !i.genre}">
                <option data-ng-repeat="genre in genres">{{genre}}</option>
            </select>


            <input placeholder="Comment" data-ng-model="i.commentStr" class="comment">
        </div>
    </div>

    <div style="text-align: center; margin-top: 1.5rem; margin-bottom: 1rem;">
        <input placeholder="Bulk Update" data-ng-model="bulkUpdateValue" type="text">
        <button data-ng-click="bulkUpdate('genre', bulkUpdateValue);">Bulk Update Genre</button>
        <button data-ng-click="bulkUpdate('comment', bulkUpdateValue);">Bulk Update Comment</button>
    </div>


    <div style="text-align: center; margin-top: 1.5rem; margin-bottom: 1rem;">
        <button data-ng-click="check()">Check</button>
        <button data-ng-click="clearAll()">Clear All</button>
        <button data-ng-click="beginDownload()">Begin Download</button>
    </div>
</div>
